{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/naming-convention": "warn",
    "@typescript-eslint/semi": "off",
    "curly": "warn",
    "eqeqeq": "warn",
    "no-throw-literal": "warn",
    "semi": "off",
    "prettier/prettier": 2,
  },
  "ignorePatterns": ["out", "dist", "**/*.d.ts"]
}
